##Transformación de Fechas y horas

In [73]:
#Importamos librerías
from datetime import datetime, date, time, timedelta
import datetime
import pandas as pd
import numpy as np

In [ ]:
#AÑO
ahora = datetime.datetime.now()
print("La fecha y hora actual es: ", ahora)

#Este año
anio = ahora.year
print("El año es: ", anio)

#Año proximo
año_proximo = anio + 1
print("El año próximo es: ", año_proximo)

La fecha y hora actual es:  2025-09-24 23:48:06.693734
El año es:  2025
El año próximo es:  2026

In [ ]:
#Mes

#Mes actual
mes_actual = ahora.month
print("El mes actual es: ", mes_actual)

#Mes próximo
mes_proximo = mes_actual + 1
print("El mes próximo es: ", mes_proximo)

#Cambio el tipo de dato
print(type(mes_proximo))
print(type(str(mes_proximo)))

El mes actual es:  9
El mes próximo es:  10
<class 'int'>
<class 'str'>

In [ ]:
#DIA

#Dia actual
dia_actual = ahora.day
print("El día actual es: ", dia_actual)

#Dia próximo
dia_proximo = dia_actual + 1
print("El día próximo es: ", dia_proximo)

El día actual es:  24
El día próximo es:  25

In [ ]:
#HORA

#Hora GMT
ahora = datetime.datetime.now()
print("La hora Greenwich Mean Time (GMT) es: ", ahora)

#Hora Argentina (Le restamos 3 horas)
hora_arg = ahora - timedelta(hours=3)
print("La hora en Argentina es:", hora_arg)

La hora Greenwich Mean Time (GMT) es:  2025-09-24 23:48:10.892955
La hora en Argentina es: 2025-09-24 20:48:10.892955

In [ ]:
# Formatear la hora
hora_formateada = ahora.strftime("%Y-%m-%d %H:%M:%S")

# Imprimir la hora formateada
print("La hora actual es:", hora_formateada)

La hora actual es: 2025-09-24 23:48:10

##Transformación de Strings a enteros

In [ ]:
#Cambio el tipo de dato, de string a enteros

numero = "15"

print(type(numero))

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

<class 'str'>
El numero ingresado es : 15 y el tipo es:  <class 'str'>

In [ ]:
#convertimos el dato de estring a enteros
numero = int(numero)

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

El numero ingresado es : 15 y el tipo es:  <class 'int'>

##Transformación de Strings a decimales

In [ ]:
#Cambio el tipo de dato, de string a enteros

numero = "10.1"

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

El numero ingresado es : 10.1 y el tipo es:  <class 'str'>

In [ ]:
#convertimos el dato de estring a enteros
numero = float(numero)

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

El numero ingresado es : 10.1 y el tipo es:  <class 'float'>

##Transformación, join de datasets

In [ ]:

# Notas de Matemática y Lengua
df1 = pd.DataFrame({'Alumno': ['Alumno0', 'Alumno1', 'Alumno2'],
                    'Matermática': ['5', '6', '7'],
                    'Lengua': ['7', '7', '8']
                    })

# Notas de Historia y Geografía
df2 = pd.DataFrame({'Alumno': ['Alumno0', 'Alumno2', 'Alumno3'],
                    'Historia': ['4', '5', '4'],
                    'Geografía': ['6', '7', '9']
                    })

# Mostramos los dataframes
print(df1)
print('           ')
print(df2)

    Alumno Matermática Lengua
0  Alumno0           5      7
1  Alumno1           6      7
2  Alumno2           7      8

    Alumno Historia Geografía
0  Alumno0        4         6
1  Alumno2        5         7
2  Alumno3        4         9

In [ ]:
# Hacemos join de los dataframes y mostramos las notas

merged_df = pd.merge(df1, df2, on='Alumno', how='right')
print(merged_df)

    Alumno Matermática Lengua Historia Geografía
0  Alumno0           5      7        4         6
1  Alumno2           7      8        5         7
2  Alumno3         NaN    NaN        4         9

##Substitución de datos faltante por un tipo de dato default

In [ ]:
#Reemplazamos nulos por ceros

# Creando un DataFrame
df = pd.DataFrame({'columna1': [1, 2, None, 4],
                   'columna2': [5, None, None, 8]})

print(df)

   columna1  columna2
0       1.0       5.0
1       2.0       NaN
2       NaN       NaN
3       4.0       8.0

In [ ]:
# Rellenando los valores nulos con 0

df = df.fillna(0) #Podemos reemplazar el cero por el valor que necesitemos
print(df)

   columna1  columna2
0       1.0       5.0
1       2.0       0.0
2       0.0       0.0
3       4.0       8.0

##Filtrar datos que rompen reglas de negocio o porque no los necesitemos

In [ ]:

# Creamos un DataFrame de ejemplo
data = {'producto': ['A', 'B', 'C', 'D'],
        'precio': [5, 15, 8, 20]}
df = pd.DataFrame(data)

print(df)

  producto  precio
0        A       5
1        B      15
2        C       8
3        D      20

In [ ]:
# Filtrar los productos con precio menor a 10
df_filtrado = df[df['precio'] < 10]
print(df_filtrado)

  producto  precio
0        A       5
2        C       8

##Eliminar columnas que no son necesarias

In [ ]:

# Creamos un DataFrame de ejemplo
data = {'nombre': ['Ana', 'Pedro', 'María'],
        'edad': [30, 25, 32],
        'ciudad': ['Madrid', 'Barcelona', 'Sevilla'],
        'correo': ['ana@example.com', 'pedro@example.com', 'maria@example.com'],
        'telefono': [123456789, 987654321, 567891234]}
df = pd.DataFrame(data)

print(df)

  nombre  edad     ciudad             correo   telefono
0    Ana    30     Madrid    ana@example.com  123456789
1  Pedro    25  Barcelona  pedro@example.com  987654321
2  María    32    Sevilla  maria@example.com  567891234

In [ ]:
# Eliminar las columnas 'correo' y 'telefono'
columnas_a_eliminar = ['correo', 'telefono']

#axis=1: Se refiere a las columnas.
#inplace=True: modifica el DataFrame original en lugar de crear una copia y realizar los cambios en ella
df.drop(columnas_a_eliminar, axis=1, inplace=True)

print(df)

  nombre  edad     ciudad
0    Ana    30     Madrid
1  Pedro    25  Barcelona
2  María    32    Sevilla

<H1>
📝 Ejercicios de Transformación de Datos

1. Transformación de Fechas y Horas: Crea un script que calcule y muestre la fecha del próximo lunes.

Pista: Usa la librería datetime.

In [ ]:
#Ejercicio 1

hoy = datetime.date.today()
print('la fecha de hoy es:', hoy)

dias_faltantes_hasta_prox_lunes = 7 - hoy.weekday()
print('faltan' , dias_faltantes_hasta_prox_lunes, 'dias para el prox lunes')

prox_lunes = hoy + datetime.timedelta(days=dias_faltantes_hasta_prox_lunes)
print('la fecha del proximo lunes es:' , prox_lunes)

la fecha de hoy es: 2025-09-24
faltan 5 dias para el prox lunes
la fecha del proximo lunes es: 2025-09-29

2. Transformación de Strings a Números: Convierte la cadena "99.5" a un tipo de dato flotante y luego a un tipo de dato entero. ¿Qué sucede con el valor decimal al hacer la conversión final?

In [ ]:
#Ejercicio 2

#guardo el valor como string
cadena = "99.5"
print(type(cadena))

#despues lo cambio a float (un numero que es decimal, lo que el texto realmente es)
#no lo
cadena = float(cadena)
print(type(cadena))

#lo cambio de float a int (un numero entero)
#para poder usar int tenemos que si o si primero pasar el string a float pq int solo aceptaria un string que significara un "numero entero" o un tipo numerico que si acepte decimales (float)
cadena = int(cadena)
print(type(cadena))
#ahora cuando imprimo cadena se pierde la parte decimal porque lo hace entero
print(cadena)

<class 'str'>
<class 'float'>
<class 'int'>
99

In [ ]:
cadena = "99.5"

cadena = float(cadena)
print(cadena)

#aca vemos que no podemos pasar de string a int directamente porque python no va a saber que queremos hacer con el .5 (si redondearlo o que)
#entonces al imprimir nos devuelve un error

99.5

3. Filtrado de Datos: Dado el siguiente DataFrame, filtra los datos para mostrar solo las ventas que superan los 500 y son del producto 'A'.

In [ ]:
#Ejercicio 3
data = {'producto': ['A', 'B', 'A', 'C'], 'ventas': [600, 450, 750, 300]}
df = pd.DataFrame(data)
print(df)

  producto  ventas
0        A     600
1        B     450
2        A     750
3        C     300

4. Agrupación y Agregación de Datos: Utiliza el DataFrame anterior y agrúpalo por 'producto' para calcular la suma total de 'ventas' por cada producto.

In [ ]:
#Ejercicio 4
df_agrupado = df.groupby('producto')['ventas'].sum()
print(df_agrupado)

producto
A    1350
B     450
C     300
Name: ventas, dtype: int64

5. Unión de DataFrames: Tienes dos DataFrames, uno con datos de empleados y otro con sus salarios. Únelos para que en un solo DataFrame aparezca el nombre del empleado y su salario.

In [ ]:
#Ejercicio 5

# DataFrames iniciales
df_empleados = pd.DataFrame({
    'id_empleado': [101, 102, 103],
    'nombre': ['Juan', 'María', 'Pedro']
})

df_salarios = pd.DataFrame({
    'id_empleado': [102, 101, 103],
    'salario': [50000, 60000, 75000]
})

# Unir DataFrames por id_empleado
df_unido = pd.merge(df_empleados, df_salarios, on='id_empleado')

print(df_unido)

   id_empleado nombre  salario
0          101   Juan    60000
1          102  María    50000
2          103  Pedro    75000

6. Reemplazo de Valores: En el siguiente DataFrame, reemplaza todos los valores None en la columna 'edad' por el valor de la edad promedio de la columna.

In [74]:
#Ejercicio 6

data = {'nombre': ['Ana', 'Luis', 'Sofía'], 'edad': [25, np.nan, 30]}
df = pd.DataFrame(data)

promedio = df['edad'].mean()

df['edad'] = df['edad'].fillna(promedio)

print(df)

  nombre  edad
0    Ana  25.0
1   Luis  27.5
2  Sofía  30.0

7. Eliminación de Filas: Dado el DataFrame anterior, elimina la fila que contiene el valor None

In [ ]:
#Ejercicio 7
df_sin_none = df.dropna()
print(df_sin_none)

  nombre  edad
0    Ana  25.0
2  Sofía  30.0

8. Transformación de Datos de una Columna: En el siguiente DataFrame, convierte todos los valores de la columna 'ciudad' a mayúsculas.

In [ ]:
#Ejercicio 8
df_ciudades = pd.DataFrame({'ciudad': ['madrid', 'barcelona', 'sevilla']})
df_ciudades['ciudad'] = df_ciudades['ciudad'].str.upper()
print(df_ciudades)

      ciudad
0     MADRID
1  BARCELONA
2    SEVILLA

9. Creación de una Nueva Columna: Usando el DataFrame de df_ciudades, crea una nueva columna llamada 'país' y asigna el valor 'España' a todas las filas.

In [ ]:
#Ejercicio 9
df_ciudades['pais'] = 'España'
print(df_ciudades)

      ciudad    pais
0     madrid  España
1  barcelona  España
2    sevilla  España

10. Eliminar Duplicados: En el siguiente DataFrame, elimina las filas duplicadas.

In [ ]:
#Ejercicio 10
df_duplicados = pd.DataFrame({'A': [1, 2, 2, 3], 'B': ['x', 'y', 'y', 'z']})

print('dataframe con duplicados:', df_duplicados)

#df_duplicados.duplicated()
df_duplicados = df_duplicados.drop_duplicates()

print('dataframe sin duplicados:', df_duplicados)

dataframe con duplicados:    A  B
0  1  x
1  2  y
2  2  y
3  3  z
dataframe sin duplicados:    A  B
0  1  x
1  2  y
3  3  z